NET "button" LOC = P51 | IOSTANDARD = LVTTL | PULLUP;

NET "ledx[0]" LOC = P51;
NET "ledx[0]" IOSTANDARD = LVTTL;
NET "ledx[1]" LOC = P41;
NET "ledx[1]" IOSTANDARD = LVTTL;
NET "ledx[2]" LOC = P35;
NET "ledx[2]" IOSTANDARD = LVTTL;
NET "ledx[3]" LOC = P33;
NET "ledx[3]" IOSTANDARD = LVTTL;
NET "ledx[4]" LOC = P30;
NET "ledx[4]" IOSTANDARD = LVTTL;
NET "ledx[5]" LOC = P27;
NET "ledx[5]" IOSTANDARD = LVTTL;
NET "ledx[6]" LOC = P24;
NET "ledx[6]" IOSTANDARD = LVTTL;
NET "ledx[7]" LOC = P22;
NET "ledx[7]" IOSTANDARD = LVTTL;

NET "ledy[0]" LOC = P50;
NET "ledy[0]" IOSTANDARD = LVTTL;
NET "ledy[1]" LOC = P40;
NET "ledy[1]" IOSTANDARD = LVTTL;
NET "ledy[2]" LOC = P34;
NET "ledy[2]" IOSTANDARD = LVTTL;
NET "ledy[3]" LOC = P32;
NET "ledy[3]" IOSTANDARD = LVTTL;
NET "ledy[4]" LOC = P29;
NET "ledy[4]" IOSTANDARD = LVTTL;
NET "ledy[5]" LOC = P26;
NET "ledy[5]" IOSTANDARD = LVTTL;
NET "ledy[6]" LOC = P23;
NET "ledy[6]" IOSTANDARD = LVTTL;
NET "ledy[7]" LOC = P21;
NET "ledy[7]" IOSTANDARD = LVTTL;

NET "ledx<1><0>" LOC = P17 | IOSTANDARD = LVTTL;
NET "ledx<1><1>" LOC = P15 | IOSTANDARD = LVTTL;
NET "ledx<1><2>" LOC = P12 | IOSTANDARD = LVTTL;
NET "ledx<1><3>" LOC = P10 | IOSTANDARD = LVTTL;
NET "ledx<1><4>" LOC = P8 | IOSTANDARD = LVTTL;
NET "ledx<1><5>" LOC = P6 | IOSTANDARD = LVTTL;
NET "ledx<1><6>" LOC = P2 | IOSTANDARD = LVTTL;
NET "ledx<1><7>" LOC = P144 | IOSTANDARD = LVTTL;

NET "ledy<1><0>" LOC = P16 | IOSTANDARD = LVTTL;
NET "ledy<1><1>" LOC = P14 | IOSTANDARD = LVTTL;
NET "ledy<1><2>" LOC = P11 | IOSTANDARD = LVTTL;
NET "ledy<1><3>" LOC = P9 | IOSTANDARD = LVTTL;
NET "ledy<1><4>" LOC = P7 | IOSTANDARD = LVTTL;
NET "ledy<1><5>" LOC = P5 | IOSTANDARD = LVTTL;
NET "ledy<1><6>" LOC = P1 | IOSTANDARD = LVTTL;
NET "ledy<1><7>" LOC = P143 | IOSTANDARD = LVTTL;

NET "ledx<2><0>" LOC = P58 | IOSTANDARD = LVTTL;
NET "ledx<2><1>" LOC = P67 | IOSTANDARD = LVTTL;
NET "ledx<2><2>" LOC = P75 | IOSTANDARD = LVTTL;
NET "ledx<2><3>" LOC = P79 | IOSTANDARD = LVTTL;
NET "ledx<2><4>" LOC = P81 | IOSTANDARD = LVTTL;
NET "ledx<2><5>" LOC = P83 | IOSTANDARD = LVTTL;
NET "ledx<2><6>" LOC = P85 | IOSTANDARD = LVTTL;
NET "ledx<2><7>" LOC = P88 | IOSTANDARD = LVTTL;

NET "ledy<2><0>" LOC = P57 | IOSTANDARD = LVTTL;
NET "ledy<2><1>" LOC = P56 | IOSTANDARD = LVTTL;
NET "ledy<2><2>" LOC = P74 | IOSTANDARD = LVTTL;
NET "ledy<2><3>" LOC = P78 | IOSTANDARD = LVTTL;
NET "ledy<2><4>" LOC = P80 | IOSTANDARD = LVTTL;
NET "ledy<2><5>" LOC = P82 | IOSTANDARD = LVTTL;
NET "ledy<2><6>" LOC = P84 | IOSTANDARD = LVTTL;
NET "ledy<2><7>" LOC = P87 | IOSTANDARD = LVTTL;

NET "ledx<3><0>" LOC = P93 | IOSTANDARD = LVTTL;
NET "ledx<3><1>" LOC = P95 | IOSTANDARD = LVTTL;
NET "ledx<3><2>" LOC = P98 | IOSTANDARD = LVTTL;
NET "ledx<3><3>" LOC = P100 | IOSTANDARD = LVTTL;
NET "ledx<3><4>" LOC = P102 | IOSTANDARD = LVTTL;
NET "ledx<3><5>" LOC = P105 | IOSTANDARD = LVTTL;
NET "ledx<3><6>" LOC = P112 | IOSTANDARD = LVTTL;
NET "ledx<3><7>" LOC = P115 | IOSTANDARD = LVTTL;

NET "ledy<3><0>" LOC = P92 | IOSTANDARD = LVTTL;
NET "ledy<3><1>" LOC = P94 | IOSTANDARD = LVTTL;
NET "ledy<3><2>" LOC = P97 | IOSTANDARD = LVTTL;
NET "ledy<3><3>" LOC = P99 | IOSTANDARD = LVTTL;
NET "ledy<3><4>" LOC = P101 | IOSTANDARD = LVTTL;
NET "ledy<3><5>" LOC = P104 | IOSTANDARD = LVTTL;
NET "ledy<3><6>" LOC = P111 | IOSTANDARD = LVTTL;
NET "ledy<3><7>" LOC = P114 | IOSTANDARD = LVTTL;

